/* Feuille de style css principale

  Structure modulaire :
  - base.css      : Variables, styles fondamentaux, boutons
  - layout.css    : Navbar, footer, hero, structure page
  - components.css: Cartes, badges, avatars, formulaires
  - tablet.css    : Media queries tablette (576px - 991px)
  - mobile.css    : Media queries mobile (< 576px)
*/

@import url('base.css');
@import url('layout.css');
@import url('components.css');
@import url('tablet.css');
@import url('mobile.css');