{% extends 'error.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
  <div class="container py-5 text-center">
    <h1 class="fw-bold mb-3">404</h1>
    <p class="text-muted mb-4">
      La page demandée est introuvable.
    </p>

    <a href="{{ path('app_home') }}" class="btn btn-primary">
      Retour à l'accueil
    </a>
  </div>
{% endblock %}
